@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "blog/LayoutBlog.cshtml";
}

@foreach (var post in @Model.postList)
{
	<div class="row">
		<article class="post">
			<h1 class="post-title blog-home-title">
			@if (Model.isEditor && post.IsPublish == false)
			{
				<span>[미개시]</span>
			}
				<a href="/blog/post/@post.Name">@post.Title</a>
			</h1>
			<span class="post-category label label-info"><a href="/blog/category/@post.CategoryUrl">@post.Category</a></span>
			@foreach (var tag in @post.Tags)
			{
				<span class="post-tag label label-success"><a href="/blog/tag/@tag.Url">@tag.Name</a></span>
			}
			<time class="post-datetime" datetime="@string.Format("{0:yyyy-MM-dd}", @post.Date)">@string.Format("{0:yyyy.MM.dd}", @post.Date)</time>
			<div class="post-content">@Html.Raw(@post.HtmlCut)</div>
		</article>
	</div>
	<hr />
}

@section Javascript
{
<script type="text/javascript">
	$(document).ready(function () {
		$('.post-content').each(function () {
			var post = $(this).parent();
			var text = $(this).text();
			var a = document.createElement('a');
			$(a).attr('href', $(post).find('h1 a').attr('href'))
				.css({ 'color': '#444', 'font-weight': 'initial' })
				.text(text);
			$(this).text('').append(a);
		});

		$('#posts').removeClass('col-md-7').addClass('col-md-9');
	});
</script>
}

@section Css
{
}