@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
	Layout = "blog/LayoutBlog.cshtml";
	var post = @Model.post;
	var prevPost = @Model.PrevPost;
	var nextPost = @Model.NextPost;
}

<div class="row">
	<article class="post">
		<h1 class="post-title">@post.Title</h1>
		@*<div class="page-header">
		<h1 class="post-title">@post.Title</h1>
		</div>*@
		<span class="post-category label label-info"><a href="/blog/category/@post.CategoryUrl">@post.Category</a></span>
		@foreach (var tag in @post.Tags)
		{
			@*<span class="post-tag label label-success"><a href="/blog/tag/@tag.Url">@tag.Name</a></span>*@
		}
		<time class="post-datetime" datetime="@string.Format("{0:yyyy-MM-dd}", @post.Date)">@string.Format("{0:yyyy.MM.dd}", @post.Date)</time>
		@if (@Model.isDebug)
		{
			<div class="raw">
				<button class="btn" id="raw">Raw</button>
				<button class="btn btn-warning" id="edit" data-post-name="@string.Format("{0:yyyyMMdd}", @post.Date)-@post.Name">수정</button>
				<div class="post-raw"><pre class="post-raw">@post.Raw</pre></div>
			</div>
		}
		<div class="post-content">@Html.Raw(@post.Html)</div>
		<div>
			<div>
				<span>이전글: </span>
				@if (@prevPost == null)
				{
					<span>이전글이 없습니다.</span>
				}
				else
				{
					<span><a href="/blog/post/@prevPost.Name">@prevPost.Title</a></span>
				}
			</div>
			<div>
				<span>다음글: </span>
				@if (@nextPost == null)
				{
					<span>다음글이 없습니다.</span>
				}
				else
				{
					<span><a href="/blog/post/@nextPost.Name">@nextPost.Title</a></span>
				}
			</div>
		</div>
		@foreach (var tag in @post.Tags)
		{
			<span class="post-tag label label-success"><a href="/blog/tag/@tag.Url">@tag.Name</a></span>
		}
	</article>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES * * */
		var disqus_shortname = 'hellojkw';

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function () {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
<hr />

@section Javascript
{
	<script type="text/javascript" src="/Static/js/jkwBlogPost.js"></script>
	@if (@Model.isDebug)
	{
	<script type="text/javascript">
		$(document).ready(function () {
			$('.post-raw').css('display', 'none');
			$('div.raw button#raw').click(function () {
				if ($('.post-raw').css('display') == 'none') {
					$('.post-raw').css('display', 'block');
				} else {
					$('.post-raw').css('display', 'none');
				}
			});

			$('div.raw button#edit').click(function () {
				$.post('/blog/edit/' + $(this).attr('data-post-name'));
			});
		});
	</script>
	}
}

@section JavascriptRelease
{
}

@section Css
{
	<style type="text/css">
		.exam, .problem {
			border-bottom: 1px solid #ccc;
			padding: 10px 10px;
		}

		.exam:hover, .problem:hover {
			background-color: #efeb98;
		}

		.exam pre, .problem pre {
			margin: 0 32px;
			width: initial;
		}
	</style>
}