@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
	Layout = "LayoutBlog.cshtml";
	var post = @Model.post;
}

<div class="row">
	<article class="post">
		<h1 class="post-title">@post.Title</h1>
		<span class="post-category label label-info"><a href="/blog/category/@post.CategoryUrl">@post.Category</a></span>
		@foreach (var tag in @post.Tags)
		{
			@*<span class="post-tag label label-success"><a href="/blog/tag/@tag.Url">@tag.Name</a></span>*@
		}
		<time class="post-datetime" datetime="@string.Format("{0:yyyy-MM-dd}", @post.Date)">@string.Format("{0:yyyy.MM.dd}", @post.Date)</time>
		<div class="post-content">@Html.Raw(@post.Html)</div>
		@foreach (var tag in @post.Tags)
		{
			<span class="post-tag label label-success"><a href="/blog/tag/@tag.Url">@tag.Name</a></span>
		}
	</article>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES * * */
		var disqus_shortname = 'hellojkw';

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function () {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
<hr />

@section Javascript
{
	<script type="text/javascript" src="/Static/js/jkwBlogPost.js"></script>
}

@section JavascriptRelease
{
}