@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
	Layout = "LayoutBlog.cshtml";
	var post = @Model.post;
}

<div class="row">
	<article class="post">
		<h1 class="post-title">@post.Title</h1>
		<span class="post-category label label-info"><a href="/blog/category/@post.CategoryUrl">@post.Category</a></span>
		@foreach (var tag in @post.Tags)
		{
			@*<span class="post-tag label label-success"><a href="/blog/tag/@tag.Url">@tag.Name</a></span>*@
		}
		<time class="post-datetime" datetime="@string.Format("{0:yyyy-MM-dd}", @post.Date)">@string.Format("{0:yyyy.MM.dd}", @post.Date)</time>
		<div class="post-content">@Html.Raw(@post.Html)</div>
		@foreach (var tag in @post.Tags)
		{
			<span class="post-tag label label-success"><a href="/blog/tag/@tag.Url">@tag.Name</a></span>
		}
	</article>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES * * */
		var disqus_shortname = 'hellojkw';

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function () {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
<hr />

@section Javascript
{
	<script type="text/javascript">
		$('.problem div:nth-child(1)').addClass('question');
		$('.problem div:nth-child(2)').addClass('answer');

		// 정답 보기 버튼
		var showButton = document.createElement('button');
		$(showButton)
			.text('정답보기')
			.css('display', 'block')
			.addClass('btn').addClass('btn-danger')
			.on('click', function () {
				var answer = $(this).parent().siblings('.answer');
				$(answer).css('display', 'block');
				$(this).css('display', 'none');
			});
		$('.question').append(showButton);

		var problemMark = { 'font-size': '25px', 'color': '#444' };

		// Qn. 문제 번호 표시
		$('.question').each(function (index) {
			var markQ = document.createElement('span');
			$(markQ).addClass('markProblem').addClass('markQ')
				.html('Q<sub>' + (index + 1) + '</sub>.');
			$(this).prepend(markQ);
		});

		// An. 정답 번호 표시
		$('.answer').each(function (index) {
			var markA = document.createElement('span');
			$(markA).addClass('markProblem').addClass('markA')
				.on('click', function () { // An. 을 누르면 정답이 숨겨지도록!
					$(this).parent().css('display', 'none');
					$(this).parent().siblings('.question').children('button').css('display', 'block');
				})
				.html('A<sub>' + (index + 1) + '</sub>.');
			$(this).css('display', 'none').prepend(markA);
		})
	</script>
}

@section JavascriptRelease
{
}