@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
	Layout = "LayoutBlog.cshtml";
}

@foreach (var post in @Model.postList)
{
	<div class="row">
		<article class="post">
			<h2 class="post-title"><a href="/blog/post/@post.Name">@post.Title</a></h2>
			<span class="post-category label label-info"><a href="/blog/category/@post.CategoryUrl">@post.Category</a></span>
			@foreach (var tag in @post.Tags)
			{
				<span class="post-tag label label-success"><a href="/blog/tag/@tag.Url">@tag.Name</a></span>
			}
			<time class="post-datetime" datetime="@string.Format("{0:yyyy-MM-dd}", @post.Date)">@string.Format("{0:yyyy.MM.dd}", @post.Date)</time>
			<div class="post-content">@Html.Raw(@post.HtmlCut)</div>
		</article>
	</div>
	<hr />
}