@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
	Layout = "Layout.cshtml";
	var chartObject = @Model.chartObject;
	var chartMinWidth = Math.Max(500, @Model.DateCount * 5).ToString() + "px";
}

@section Css
{
	@*<link href="/Static/css/jkwBlogHome.css" rel="stylesheet">*@
	@*<link href="/Static/css/prism.css" rel="stylesheet">*@
}

@section Javascript
{
	<script src="/Static/Highcharts-4.1.4/js/highcharts.js"></script>
	<script type="text/javascript">
		$("nav.navbar").addClass("navbar-shrink");
		$("li#menu-project").addClass("active");


		$(function () {
			$('#kbochart').highcharts({
				title: {
					//text: 'KBO @chartObject.Year 시즌 게임차 그래프',
					//x: -20, //center
					text: '',
					margin: 0
				},
				xAxis: {
					categories: [@chartObject.DateList]
				},
				yAxis: {
					title: {
						text: '게임차'
					},
					reversed: true,
					min: 0,
				},
				legend: {
					layout: 'vertical',
					align: 'right',
					verticalAlign: 'middle',
					borderWidth: 0
				},
				series: [
				@foreach (var @teamGBInfo in @chartObject.TeamGBInfo)
				{
@:{
	@:name: '@teamGBInfo.Item1',
	@:data: [@teamGBInfo.Item2]
@:},
				} ]
			});
		});
	</script>
}
<h2>KBO @chartObject.Year 시즌 게임차 그래프</h2>

<div id="kbochart" style="min-width: @chartMinWidth; height: 500px; margin: 0 auto"></div>

<div id="disqus_thread"></div>
<script type="text/javascript">
	/* * * CONFIGURATION VARIABLES * * */
	var disqus_shortname = 'hellojkw';

	/* * * DON'T EDIT BELOW THIS LINE * * */
	(function () {
		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<script>
	(function (i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date(); a = s.createElement(o),
		m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

	ga('create', 'UA-49135864-1', 'auto');
	ga('send', 'pageview');

</script>