@{
    Layout = "Layout.cshtml";

    var theme = Model.Theme;
    var background = theme.CssText("Background");
    var diaryBackground = theme.CssText("DiaryBackground");
    var diaryFont = theme.CssText("DiaryFont");
    var diaryFontSize = theme.CssText("DiaryFontSize");
    var diaryFontColor = theme.CssText("DiaryFontColor");
    var diaryLineHeight = theme.CssText("DiaryLineHeight");
}

<div>
	<div id="dates-list">
		@foreach (var yearGroup in @Model.DateGroup)
		{
			<h2>@yearGroup.Year</h2>
			@foreach (var monthGroup in yearGroup.MonthList)
			{
				<div>
					<h3 style="display: inline;">@monthGroup.Month</h3>
					@foreach (var date in @monthGroup.DateList)
					{
						<a href="/diary/@Model.DiaryName/@date.ToString("yyyyMMdd")">@date.ToString("dd")</a>
					}
				</div>
			}
		}
	</div>
</div>

@section Css
{
<link href="/Static/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet">
<style type="text/css">
	::selection {
		text-shadow: none;
		background-color: #c8c8c8;
	}

	a {
		color: #4a4a4a;
	}

	a:hover {
		color: black;
		font-weight: bold;
	}

	h2 {
		margin-bottom: 0px;
	}

	div#dates-list {
		max-width: 800px;
	}

	.diary-text {
		width: 600px;
		/*min-height: 200px;*/
		height: auto;
		max-height: 600px;
	}

	.btn-diary-action {
		float: right;
		margin-left: 5px;
	}
</style>

<style type="text/css">
    body {
        @background
    }

    #dates-list a {
        @diaryFont
    }

    #dates-list h2, #dates-list h3, #dates-list a {
        @diaryFontColor
    }

    td.td-text pre, td.td-date {
        @diaryFont
        @diaryFontSize
        @diaryBackground
        @diaryFontColor
        @diaryLineHeight
    }
</style>

@Html.Raw(Model.Theme.FontLink)
}

@section Javascript
{
<script src="/Static/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
	$("nav.navbar").addClass("navbar-shrink");

	$(document).ready(function () {
	});
</script>
}
