@{
	Layout = "Layout.cshtml";
}

<div>
	<div id="diary-text">
		<h2>@Model.Date.ToString("yyyy.MM.dd") <span class="smaller">@Model.DayOfWeek</span></h2>
		@foreach (var diary in @Model.DiaryList)
		{
		<div class="diary">
			<pre>@diary.Text</pre>
		</div>
		}
		@if (@Model.hasPrev) {
		<a href="/diary/@Model.DiaryName/@Model.PrevDate.ToString("yyyyMMdd")" class="btn btn-default" id="diary-prev" title="키보드 ←">이전</a>
		} else {
		<a href="#" class="btn btn-default" id="diary-prev" disabled="disabled">이전</a>
		}
		@if (@Model.hasNext) {
		<a href="/diary/@Model.DiaryName/@Model.NextDate.ToString("yyyyMMdd")" class="btn btn-default" id="diary-next" title="키보드 →">다음</a>
		} else {
		<a href="#" class="btn btn-default" id="diary-next" disabled="disabled">다음</a>
		}

		@if (@Model.IsMine)
		{
		<a href="/diary/write/@Model.DiaryName" class="btn btn-success btn-diary-action" id="diary-write" title="키보드 N">쓰기</a>
		<a href="/diary/modify/@Model.DiaryName/@Model.Date.ToString("yyyyMMdd")" class="btn btn-warning btn-diary-action" id="diary-modify">수정</a>
		}
		@*<a href="/diary/home" class="btn btn-default btn-diary-action" id="diary-home">일기장 홈</a>*@
	</div>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES * * */
		var disqus_shortname = 'hellojkw';

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function () {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>

@section Css
{
<style type="text/css">
	::selection {
		text-shadow: none;
		background-color: #c8c8c8;
	}

	h2 {
		margin-top: 0px;
	}

	div#diary-text {
		max-width: 600px;
	}

	.btn-diary-action {
		float: right;
		margin-left: 5px;
	}

	#disqus_thread {
		max-width: 600px;
	}
</style>
}

@section Javascript
{
<script type="text/javascript">
	$("nav.navbar").addClass("navbar-shrink");

	$(document).keyup(function (e) {
		var key = e.which;
		if (key == 37) { // Arrow Left
			location.href = $('#diary-prev').attr('href');
		} else if (key == 39) { // Arrow Right
			location.href = $('#diary-next').attr('href');
		} else if (key == 78) { // Key N
			location.href = $('#diary-write').attr('href');
		}
	});
</script>
}
