@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
	Layout = "luciaLayout.cshtml";
	string rootPath = @Model.rootPath;
	string device = @Model.device;
	string category = @Model.category;
}

@section Css
{
	<link href="/Static/css/luciaDefault.css" rel="stylesheet" />
	<link href="/Static/css/luciaCategory.css" rel="stylesheet" />
}

@section Javascript
{
}

<div class="container">
	@*<div class="row">
		<div class="col-md-12 col-xs-12">*@
			<div class="row">
				@foreach (var product in @Model.productList)
				{
				<div class="col-sm-4 col-lg-4 col-md-4">
					<div class="thumbnail">
						<a href="/lucia/@device/product/@category/@product.Name"><img src="/@rootPath/@product.MainImage" alt=""></a>
						<div class="caption">
							<h4 class="pull-right">@product.Price 원</h4>
							<h4>
								<a href="/lucia/@device/product/@category/@product.Name">@product.Name</a>
							</h4>
							@*<p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>*@
							<p>
							@foreach (string content in @product.MainContent)
							{
								@content<br />
							}
							</p>
						</div>
					</div>
				</div>
				}	
			</div>
		@*</div>
	</div>*@
</div>
