<!DOCTYPE html>
<html lang="kr">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="루치아 핸드메이드 카드" />
	<meta name="author" content="황경욱 루치아" />
	<title>루치아 핸드메이드 카드</title>

	<link href="/Static/css/bootstrap.min.css" rel="stylesheet" />
	@*<link href="/Static/css/slide.css" rel="stylesheet" />*@

	<style>

		body {
			padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
		}

		.caption {
			height: 130px;
			overflow: hidden;
		}

		.caption h4 {
			white-space: nowrap;
		}

		.thumbnail img {
			width: 100%;
		}

		.ratings {
			padding-right: 10px;
			padding-left: 10px;
			color: #d17581;
		}

		.thumbnail {
			padding: 0;
		}

		.thumbnail .caption-full {
			padding: 9px;
			color: #333;
		}

		footer {
			margin: 50px 0;
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Lucia Handmade Card</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					@foreach (var menu in @Model.MainMenu)
					{
						string active = null;
						if (@menu == @Model.Category)
						{ active = "active"; }
						<li class="@active"><a href="/category/@menu">@menu</a></li>
					}
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<div class="row">
					<div class="col-sm-4 col-lg-4 col-md-4">
						@foreach (var product in @Model.ProductList)
						{
						<div class="thumbnail">
							<a href="/product/@Model.Category/@product.Name"><img src="http://placehold.it/320x150" alt=""></a>
							<div class="caption">
								<h4 class="pull-right">2,499 원</h4>
								<h4>
									<a href="/product/@Model.Category/@product.Name">@product.Name</a>
								</h4>
								<p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
							</div>
							<div class="ratings">
								<p class="pull-right">15 reviews</p>
								<p>
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
									<span class="glyphicon glyphicon-star"></span>
									@*<span class="glyphicon glyphicon-star"></span>*@
								</p>
							</div>
						</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<hr />
		<footer>
			<div class="row">
				<div class="col-lg-12">
					<p>Copyright &copy; Lucia Handmade Card 2015</p>
				</div>
			</div>
		</footer>
	</div>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script type="text/javascript" src="/Static/js/bootstrap.min.js"></script>
</body>
</html>