@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
	Layout = "luciaLayout.cshtml";
	string rootPath = @Model.rootPath;
	string mobilePath = @Model.mobilePath;
	string device = @Model.device;
	string category = @Model.category;
}

<div class="container">
	@*<div class="row">
		<div class="col-md-12 col-xs-12">*@
			<div class="row">
				@foreach (var product in @Model.productList)
				{
				<div class="col-sm-4 col-lg-4 col-md-4">
					<div class="thumbnail">
						<a href="/lucia/@device/product/@category/@product.Name"><img src="/@mobilePath/@product.MainImage" alt="@product.NameDisplay"></a>
						<div class="caption">
							<h4 class="pull-right">@product.Price 원</h4>
							<h4>
								<a href="/lucia/@device/product/@category/@product.Name">@product.NameDisplay</a>
							</h4>
							<p>
							@foreach (string content in @product.MainContent)
							{
								@content<br />
							}
							</p>
						</div>
					</div>
				</div>
				}
				@foreach (var image in @Model.imageList)
				{
					<div class="col-sm-4 col-lg-4 col-md-4">
						<div class="thumbnail">
							<a target="_blank" href="/lucia/@image" title="클릭하면 새창으로 큰 그림을 볼 수 있습니다. (데이터 사용 주의)"><img src="/@rootPath/@image" class="popup" /></a>
							<span class="mobile mobile-block">
							크게보려면 그림을 터치하세요! (데이터 사용 주의)
							</span>
						</div>
					</div>
				}
			</div>
		@*</div>
	</div>*@
</div>

@section Css
{
	<link href="/Static/css/luciaDefault.css" rel="stylesheet" />
	<link href="/Static/css/luciaCategory.css" rel="stylesheet" />
}

@section Javascript
{
}