@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
	Layout = "fnb/fnbLayout.cshtml";
}


<header>
	<div class="container">
		<div class="intro-text">
			<div class="intro-lead-in"></div>
			<div class="intro-heading">Welcome To F&B!</div>
			@*<a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>*@
		</div>
	</div>
</header>

@if (Model.VisibleAll || ((string)Model.Visible).Contains("member"))
{
<section id="member">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">정회원 ({{memberCountRegular}})</h2>
			</div>
		</div>
		<div class="row text-center">
			<div ng-repeat="member in memberListRegular" class="member">
				<div class="member-info" id="member-info-{{member.Name}}">
					<img src="jkw/others/fnb/member/{{member.PictureName}}" class="img-circle member-picture" />
					<h4 class="service-heading">{{member.Name}} <span ng-show="{{member.HasRole}}">({{member.Role}})</span></h4>
					<p class="text-muted">{{member.Team}}<br />{{member.JoinDateDot}}</p>
					@if (Model.IsOperator)
					{
						<p class="button-list">
							<button class="btn-member-goto-associate btn btn-warning btn-xs" data-member-name="{{member.Name}}">준회원</button>
							<button class="btn-member-edit btn btn-info btn-xs" data-member-name="{{member.Name}}" data-member-joindate="{{member.JoinDateDot}}">수정</button>
							<button class="btn-member-leave btn btn-danger btn-xs" data-member-name="{{member.Name}}">탈퇴</button>
						</p>
					}
				</div>
				@if (Model.IsOperator)
				{
					<div class="member-edit" id="member-edit-{{member.Name}}">
						<h4>{{member.Name}} 수정</h4>
						<img style="width:116px;height:116px;" src="jkw/others/fnb/member/{{member.PictureName}}" class="img-circle" />
						<input value="{{member.Role}}" type="text" id="member-role-{{member.Name}}" class="member-add-data form-control" placeholder="역할" />
						<input value="{{member.Team}}" type="text" id="member-team-{{member.Name}}" class="member-add-data form-control" placeholder="팀" />
						<div class='member-add-data datetimepicker input-group date' id='datetimepicker-{{member.Name}}'>
							<input type='text' class="form-control" placeholder="가입일" />
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
						<p class="button-list-edit">
							<button class="btn-member-edit-save btn btn-success btn-xs" data-member-name="{{member.Name}}">저장</button>
							<button class="btn-member-edit-cancel btn btn-default btn-xs" data-member-name="{{member.Name}}">취소</button>
						</p>
					</div>
				}
			</div>
			@if (@Model.IsOperator)
			{
				<div class="member-operator">
					<h4 class="service-heading">정회원 추가</h4>
					<input type="text" id="member-name-Regular" class="member-add-data form-control" placeholder="이름"/>
					<input type="text" id="member-role-Regular" class="member-add-data form-control" placeholder="역할"/>
					<input type="text" id="member-team-Regular" class="member-add-data form-control" placeholder="팀"/>
					<div class='member-add-data datetimepicker input-group date' id='datetimepicker-Regular'>
						<input type='text' id="add-meeting-date" class="form-control" placeholder="가입일" />
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
					<div style="margin-top: 10px;">
						<button class="btn-member-add btn btn-info" data-member-type="Regular">추가</button>
						<button class="btn-member-add-clear btn btn-default" data-member-type="Regular">초기화</button>
					</div>
				</div>
			}
		</div>
	</div>
	<div class="container">
		<div class="row" style="margin-top: 30px;">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">준회원 ({{memberCountAssociate}})</h2>
			</div>
		</div>
		<div class="row text-center">
			<div ng-repeat="member in memberListAssociate" class="member col-sm-3">
				<div class="member-info" id="member-info-{{member.Name}}">
					<img src="jkw/others/fnb/member/{{member.PictureName}}" class="img-circle member-picture" />
					<h4 class="service-heading">{{member.Name}} <span ng-show="{{member.HasRole}}">({{member.Role}})</span></h4>
					<p class="text-muted">{{member.Team}}<br />{{member.JoinDateDot}}</p>
					@if (Model.IsOperator)
					{
						<p class="button-list">
							<button class="btn-member-goto-regular btn btn-success btn-xs" data-member-name="{{member.Name}}">정회원</button>
							<button class="btn-member-edit btn btn-info btn-xs" data-member-name="{{member.Name}}" data-member-joindate="{{member.JoinDateDot}}">수정</button>
							<button class="btn-member-leave btn btn-danger btn-xs" data-member-name="{{member.Name}}">탈퇴</button>
						</p>
					}
				</div>
				@if (@Model.IsOperator)
				{
					<div class="member-edit" id="member-edit-{{member.Name}}">
						<h4>{{member.Name}} 수정</h4>
						<img style="width:116px;height:116px;" src="jkw/others/fnb/member/{{member.PictureName}}" class="img-circle" />
						<input value="{{member.Role}}" type="text" id="member-role-{{member.Name}}" class="member-add-data form-control" placeholder="역할" />
						<input value="{{member.Team}}" type="text" id="member-team-{{member.Name}}" class="member-add-data form-control" placeholder="팀" />
						<div class='member-add-data datetimepicker input-group date' id='datetimepicker-{{member.Name}}'>
							<input type='text' class="form-control" placeholder="가입일" />
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
						<p class="button-list-edit">
							<button class="btn-member-edit-save btn btn-success btn-xs" data-member-name="{{member.Name}}">저장</button>
							<button class="btn-member-edit-cancel btn btn-default btn-xs" data-member-name="{{member.Name}}">취소</button>
						</p>
					</div>
				}
			</div>
			@if (@Model.IsOperator)
			{
				<div class="member-operator">
					<h4 class="service-heading">준회원 추가</h4>
					<input type="text" id="member-name-Associate" class="member-add-data form-control" placeholder="이름" />
					<input type="text" id="member-role-Associate" class="member-add-data form-control" placeholder="역할" />
					<input type="text" id="member-team-Associate" class="member-add-data form-control" placeholder="팀" />
					<div class='member-add-data datetimepicker input-group date' id='datetimepicker-Associate'>
						<input type='text' id="add-meeting-date" class="form-control" placeholder="가입일" />
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
					<div style="margin-top: 10px;">
						<button class="btn-member-add btn btn-info" data-member-type="Associate">추가</button>
						<button class="btn-member-add-clear btn btn-default" data-member-type="Associate">초기화</button>
					</div>
				</div>
			}
		</div>
	</div>
	@if (Model.IsOperator)
	{
	<div class="container">
		<div class="row" style="margin-top: 30px;">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">탈퇴회원 ({{memberCountLeave}})</h2>
			</div>
		</div>
		<div class="row text-center">
			<div ng-repeat="member in memberListLeave" class="member col-sm-3">
				<div class="member-info" id="member-info-{{member.Name}}">
					<img src="jkw/others/fnb/member/{{member.PictureName}}" class="img-circle member-picture" />
					<h4 class="service-heading">{{member.Name}} <span ng-show="{{member.HasRole}}">({{member.Role}})</span></h4>
					<p class="text-muted">{{member.Team}}<br />{{member.JoinDateDot}}</p>
					@if (Model.IsOperator)
					{
						<p class="button-list">
							<button class="btn-member-goto-regular btn btn-success btn-xs" data-member-name="{{member.Name}}">정회원</button>
							<button class="btn-member-goto-associate btn btn-success btn-xs" data-member-name="{{member.Name}}">준회원</button>
							<button class="btn-member-edit btn btn-info btn-xs" data-member-name="{{member.Name}}" data-member-joindate="{{member.JoinDateDot}}">수정</button>
							<button class="btn-member-delete btn btn-danger btn-xs" data-member-name="{{member.Name}}">삭제</button>
						</p>
					}
				</div>
				@if (@Model.IsOperator)
				{
					<div class="member-edit" id="member-edit-{{member.Name}}">
						<h4>{{member.Name}} 수정</h4>
						<img style="width:116px;height:116px;" src="jkw/others/fnb/member/{{member.PictureName}}" class="img-circle" />
						<input value="{{member.Role}}" type="text" id="member-role-{{member.Name}}" class="member-add-data form-control" placeholder="역할" />
						<input value="{{member.Team}}" type="text" id="member-team-{{member.Name}}" class="member-add-data form-control" placeholder="팀" />
						<div class='member-add-data datetimepicker input-group date' id='datetimepicker-{{member.Name}}'>
							<input type='text' class="form-control" placeholder="가입일" />
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
						<p class="button-list-edit">
							<button class="btn-member-edit-save btn btn-success btn-xs" data-member-name="{{member.Name}}">저장</button>
							<button class="btn-member-edit-cancel btn btn-default btn-xs" data-member-name="{{member.Name}}">취소</button>
						</p>
					</div>
				}
			</div>
			@if (@Model.IsOperator)
			{
				<div class="member-operator">
					<h4 class="service-heading">탈퇴회원 추가</h4>
					<input type="text" id="member-name-Leave" class="member-add-data form-control" placeholder="이름" />
					<input type="text" id="member-role-Leave" class="member-add-data form-control" placeholder="역할" />
					<input type="text" id="member-team-Leave" class="member-add-data form-control" placeholder="팀" />
					<div class='member-add-data datetimepicker input-group date' id='datetimepicker-Leave'>
						<input type='text' id="add-meeting-date" class="form-control" placeholder="가입일" />
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
					<div style="margin-top: 10px;">
						<button class="btn-member-add btn btn-info" data-member-type="Leave">추가</button>
						<button class="btn-member-add-clear btn btn-default" data-member-type="Leave">초기화</button>
					</div>
				</div>
			}
		</div>
	</div>
	}
</section>
}

@if (Model.VisibleAll || ((string)Model.Visible).Contains("meeting"))
{
<section id="meeting">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">모임</h2>
			</div>
		</div>
		<div class="row text-center">
			<table class="table table-striped" style="margin: auto; width:auto; max-width: 850px;">
				<thead>
					<tr>
						<th style="min-width: 35px; padding-left: 0; padding-right: 0;">회차</th>
						<th>날짜</th>
						<th style="max-width: 200px;">참석자</th>
						<th style="max-width: 200px;">비고</th>
						@if (@Model.IsOperator)
						{
							<th>버튼</th>
						}
					</tr>
				</thead>
				<tbody>
				@if (@Model.IsOperator)
				{
					<tr id="tr-add-meeting">
						<td><input type="number" id="add-meeting-no" class="form-control" style="width: 60px;" /></td>
						<td>
							<div class="datetimepicker input-group date" id="datetimepicker-meeting">
								<input type="text" class="form-control" style="width:100px;"/>
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</td>
						<td id="add-meeting-td-attendants" style="text-align: left;">
							<ul style="list-style: none; padding-left: 0;">
								<li ng-repeat="member in memberListRegular" style="float: left;">
									<button class="add-meeting-member-button btn btn-default btn-xs" data-member-name="{{member.Name}}" data-toggle="button" aria-pressed="false" autocomplete="off">{{member.Name}}</button>
								</li>
								<li ng-repeat="member in memberListAssociate" style="float: left;">
									<button class="add-meeting-member-button btn btn-default btn-xs" data-member-name="{{member.Name}}" data-toggle="button" aria-pressed="false" autocomplete="off">{{member.Name}}</button>
								</li>
							</ul>
						</td>
						<td><textarea id="add-meeting-others" class="form-control" placeholder="" style="width: 200px;"></textarea></td>
						<td>
							<button id="button-add-meeting" class="btn btn-info btn-sm">추가</button>
						</td>
					</tr>
				}
				<tr ng-repeat="meeting in meetingList" data-meeting-no="{{meeting.No}}">
					<td class="meeting-no" style="min-width: 35px;">{{meeting.No}}</td>
					<td class="meeting-date">
						<div class="meeting-info">{{meeting.DateDot}}&nbsp;({{meeting.WeekDay}})</div>
						@if (@Model.IsOperator)
						{
						<div class="meeting-edit">
							<div class="datetimepicker input-group date" id="datetimepicker-meeting-{{meeting.No}}">
								<input type="text" class="form-control" style="width:100px;" />
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
						}
					</td>
					<td class="meeting-attendants align-left" style="max-width: 500px;">
						<div class="meeting-info">{{meeting.AttendantList}}</div>
						@if (@Model.IsOperator)
						{
						<div class="meeting-edit">
							<ul style="list-style: none; padding-left: 0;">
								<li ng-repeat="member in memberListRegular" style="float: left;">
									<button class="add-meeting-member-button btn btn-default btn-xs" data-member-name="{{member.Name}}" data-toggle="button" aria-pressed="false" autocomplete="off">{{member.Name}}</button>
								</li>
								<li ng-repeat="member in memberListAssociate" style="float: left;">
									<button class="add-meeting-member-button btn btn-default btn-xs" data-member-name="{{member.Name}}" data-toggle="button" aria-pressed="false" autocomplete="off">{{member.Name}}</button>
								</li>
								<li ng-repeat="member in memberListLeave" style="float: left;">
									<button class="add-meeting-member-button btn btn-default btn-xs" data-member-name="{{member.Name}}" data-toggle="button" aria-pressed="false" autocomplete="off">{{member.Name}}</button>
								</li>
							</ul>	
						</div>
						}
					</td>
					<td class="meeting-others align-left" style="max-width: 200px;">
						<div class="meeting-info">{{meeting.Others}}</div>
						@if (@Model.IsOperator)
						{
						<div class="meeting-edit">
							<textarea class="form-control" style="width: 200px;" data-others="{{meeting.Others}}"></textarea>
						</div>
						}
					</td>
					@if (@Model.IsOperator)
					{
						<td>
							<div class="meeting-info">
								<button class="button-meeting-edit btn btn-warning btn-xs">수정</button>
								<button class="button-meeting-delete btn btn-danger btn-xs" data-meeting-no="{{meeting.No}}">삭제</button>
							</div>
							<div class="meeting-edit">
								<button class="button-meeting-edit-save btn btn-success btn-xs">저장</button>
								<button class="button-meeting-edit-cancel btn btn-default btn-xs" data-meeting-no="{{meeting.No}}">취소</button>
							</div>
						</td>
					}
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
}

@if (Model.VisibleAll || ((string)Model.Visible).Contains("account"))
{
<section id="account">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">회계</h2>
			</div>
		</div>
		<div class="row text-center">
			<table class="table table-striped" style="margin: auto; width:auto;">
				<thead>
					<tr>
						<th>날짜</th>
						<th>내용</th>
						<th>지출 ({{totalOutMoney}})</th>
						<th>수입 ({{totalInMoney}})</th>
						@if (@Model.IsOperator)
						{
							<th>버튼</th>
						}
					</tr>
				</thead>
				<tbody>
				@if (@Model.IsOperator)
				{
					<tr>
						<td>
							<div class='datetimepicker input-group date' id='datetimepicker-accounting'>
								<input type='text' class="form-control" style="width:100px;" />
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</td>
						<td><input type="text" class="form-control" id="text-accounting-content"/></td>
						<td><input type="number" class="form-control" id="text-accounting-outMoney" min="0" style="width: 100px;"/></td>
						<td><input type="number" class="form-control" id="text-accounting-inMoney" min="0" style="width: 100px;"/></td>
						<td><button class="btn btn-info btn-sm" id="button-accounting-add">추가</button></td>
					</tr>
				}
				<tr ng-repeat="accountingData in accountingDataList" data-accounting-id="{{accountingData.Id}}">
					<td class="accounting-date">
						<div class="accounting-info">{{accountingData.DateDot}}</div>
						<div class="accounting-edit">
							<div class="datetimepicker input-group date" id="datetimepicker-accounting-{{accountingData.No}}">
								<input type="text" class="form-control" style="width:100px;" />
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
					</td>
					<td class="accounting-content">
						<div class="accounting-info">{{accountingData.Content}}</div>
						<div class="accounting-edit"> <input type="text" class="form-control" /> </div>
					</td>
					<td class="accounting-out-money" data-out-money="{{accountingData.OutMoney}}">
						<div class="accounting-info money">{{accountingData.OutMoneyComma}}</div>
						<div class="accounting-edit">
							<input type="number" class="form-control" min="0" style="width: 100px;" />
						</div>
					</td>
					<td class="accounting-in-money" data-in-money="{{accountingData.InMoney}}">
						<div class="accounting-info money">{{accountingData.InMoneyComma}}</div>
						<div class="accounting-edit">
							<input type="number" class="form-control" min="0" style="width: 100px;" />
						</div>
					</td>
					@if (@Model.IsOperator)
					{
						<td>
							<div class="accounting-info">
								<button class="button-accounting-edit btn btn-warning btn-xs">수정</button>
								<button class="button-accounting-delete btn btn-danger btn-xs" data-accounting-id="{{accountingData.Id}}">삭제</button>
							</div>
							<div class="accounting-edit">
								<button class="button-accounting-edit-save btn btn-success btn-xs">저장</button>
								<button class="button-accounting-edit-cancel btn btn-default btn-xs">취소</button>
							</div>
						</td>
					}
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
}


@section Css
{
	<link href="/Static/css/fnb.css" rel="stylesheet" />
	<link href="/Static/css/fnb-operator.css" rel="stylesheet" />
	<style type="text/css">
		::selection {
			text-shadow: none;
			background-color: #c8c8c8;
		}

		header {
			background-image: url(@Model.BackGroundFileName);
		}

@if (!Model.VisibleMenu)
{
	string visibleMenuCss = ".navbar { display: none; }";
	@visibleMenuCss;
}

@if (!Model.VisibleHeader)
{
	string visibleHeaderCss = "header { display: none; }";
	@visibleHeaderCss;
}
	</style>
}

@section Javascript
{
	<script src="/Static/js/jkw/fnb/fnbLoad.js"></script>
@if (@Model.IsOperator)
{
	<script src="/Static/js/jkw/fnb/fnbOperator.js"></script>
}
	<script type="text/javascript">
		$(document).ready(function () {
		});
	</script>
}

@section JavascriptRelease
{
}