@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
	string title;
	try { title = @Model.Title; } catch { title = "BlueHole F&B"; }
	string desc;
	try { desc = @Model.Desc; } catch { desc = "블루홀 풋살 동호회 F&B"; }

    string siteBase = Model.SiteBase.Contains("hellojkw.com") ? Model.SiteBase.Replace("http://", "https://") : Model.SiteBase;

	string popupLoginUrl = siteBase + "/login";
	string popupLogoutUrl = siteBase + "/logout";
}
<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="jkw">
	<meta name="description" content="@desc">
	<title>@title</title>
	<!-- Bootstrap Core CSS -->
	<link href="/Static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="/Static/Agency/css/agency.css" rel="stylesheet" />
	<link href="/Static/css/jkwLayout.css" rel="stylesheet" />
	<link href="/Static/bootstrap/css/bootstrap-datetimepicker.css" rel="stylesheet">
	@RenderSection("Css", false)
	<!-- Custom Fonts -->
	<link href="/Static/Agency/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<!-- Angular -->
	<script src="/Static/js/angular.min.js"></script>
</head>
<body id="page-top" class="index" ng-app="app-fnb" ng-controller="fnb-controller">
	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand page-scroll" href="#page-top">Bluehole F&B</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="hidden"> <a href="#page-top"></a> </li>
					<li> <a class="page-scroll" href="#member">회원</a> </li>
					<li> <a class="page-scroll" href="#meeting">모임</a> </li>
					<li> <a class="page-scroll" href="#account">회계</a> </li>
					@if (@Model.isLogin)
					{
						<li class="dropdown" id="menu-login">
							<a class="dropdown-toggle" data-toggle="dropdown" role="button" id="navbar-user-image" style="padding-top:0;padding-bottom:0;cursor:pointer;">
								<img src="@Model.user.ImageUrl" title="@Model.user.Name" alt="@Model.user.Name" class="img-circle navbar-user-image" />
							</a>
							<ul class="dropdown-menu">
								<li><a class="page-scroll" href="/user">Edit user info</a></li>
								<li><button class="page-scroll btn-logout">Logout</button></li>
							</ul>
						</li>
					}
					@*else if (@Model.isDebug)*@
					else
					{
						<li id="menu-login"><button class="page-scroll btn-login">Login</button></li>
					}
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="fixed-alert">
		테스트 메세지
	</div>

	@RenderBody()

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<span class="copyright">Copyright &copy; BlueHole F&B 2016</span>
				</div>
			</div>
		</div>
	</footer>
	<script src="/Static/js/jkw/utils.js"></script>
	<!-- jQuery -->
	<script src="/Static/js/jquery-2.1.3.min.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="/Static/bootstrap/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script src="/Static/Agency/js/classie.js"></script>
	<script src="/Static/Agency/js/cbpAnimatedHeader.js"></script>
	<script src="/Static/Agency/js/jqBootstrapValidation.js"></script>
	<script src="/Static/Agency/js/agency.js"></script>
	<script src="/Static/bootstrap/js/moment.js"></script>
	<script src="/Static/bootstrap/js/bootstrap-datetimepicker.js"></script>
	@RenderSection("Javascript", false)
	<script type="text/javascript">
		var alertNumber;
		var showAlert = function (message) {
			$('div.fixed-alert').text(message).slideDown();
			alertNumber = Math.random();
			window.setTimeout(closeAlert, 2000, alertNumber);
		}

		var closeAlert = function (validNumber) {
			if (alertNumber != validNumber) return;
			$('div.fixed-alert').slideUp();
		}

		$('div.fixed-alert').click(function () {
			closeAlert();
		});

		$(document).ready(function () {
			$('.btn-login').click(function () {
				window.open('@popupLoginUrl', '', 'width=400px, height=400px, resizable=no, scrollbar=no, status=no;');
			});
			$('.btn-logout').click(function () {
				window.open('@popupLogoutUrl', '', 'width=400px, height=400px, resizable=no, scrollbar=no, status=no;');
			});
		});
	</script>
</body>
</html>
